<section class="benefits">
  <div class="benefits__top-bg"></div>

  <div class="container">
    <div class="benefits__row">
      <div class="benefits__card">
        <div class="benefits__icon">
          <img src="../images/sprite.svg#yellow-box" class="svg-yellow-box-dims" alt="yellow-box">
        </div>
      
        <div class="benefits__info">
          <h3 class="benefits__title">
            Full-Service Shipping
          </h3>
        
          <p class="benefits__text">
            From picking to custom-crating to domestic and international shipping, we handle it all for you.
          </p>
        </div>
      </div>

      <div class="benefits__card">
        <div class="benefits__icon">
          <img src="../images/sprite.svg#yellow-shield" class="svg-yellow-shield-dims" alt="yellow-shield">
        </div>
      
        <div class="benefits__info">
          <h3 class="benefits__title">
            Multi-Point Inspection
          </h3>
        
          <p class="benefits__text">
            To ensure quality, our team of HTM professionals fully assess and evaluate all equipment.
          </p>
        </div>
      </div>

      <div class="benefits__card">
        <div class="benefits__icon">
          <img src="../images/sprite.svg#yellow-operator" class="svg-yellow-operator-dims" alt="yellow-operator">
        </div>
      
        <div class="benefits__info">
          <h3 class="benefits__title">
            Professional Product Support
          </h3>
        
          <p class="benefits__text">
            If you have any questions about the equipment, our product specialists are here to help.
          </p>
        </div>
      </div>

      <div class="benefits__card">
        <div class="benefits__icon">
          <img src="../images/sprite.svg#yellow-credit-card" class="svg-yellow-credit-card-dims" alt="yellow-credit-card">
        </div>
      
        <div class="benefits__info">
          <h3 class="benefits__title">
            Secure and Easy Payment Methods
          </h3>
        
          <p class="benefits__text">
            Pay your way, whether by credit card, PayPal or the redemption of earned credits.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>