<section class="contact">
  <div class="container">
    <ul class="contact__row">
      <li class="contact__card">
        <div class="contact__icon">
          <img src="../images/sprite.svg#blue-location" class="svg-blue-location-dims" alt="blue-location">
        </div>

        <div class="contact__info">
          <h3 class="contact__title">Address</h3>

          <p class="contact__text">
            123 5th Avenue, New York, US
          </p>
        </div>
      </li>

      <li class="contact__card">
        <div class="contact__icon">
          <img src="../images/sprite.svg#blue-phone" class="svg-blue-phone-dims" alt="blue-phone">
        </div>

        <div class="contact__info">
          <h3 class="contact__title">Call Us</h3>

          <p class="contact__text">
            +1 123 456 7890
          </p>
        </div>
      </li>

      <li class="contact__card">
        <div class="contact__icon">
          <img src="../images/sprite.svg#blue-mail" class="svg-blue-mail-dims" alt="blue-mail">
        </div>

        <div class="contact__info">
          <h3 class="contact__title">Email Us</h3>

          <p class="contact__text">info@example.com</p>
        </div>
      </li>
    </ul>
  </div>
</section>