<section class="feedback">
  <div class="container">
    <div class="feedback__row">
      <div class="feedback__card">
        <div class="feedback__picture">
          <div>
            <img src="../images/stars.png" alt="5 stars" class="feedback__stars">
          </div>

          <img src="../images/sprite.svg#yelp-icon" class="svg-yelp-icon-dims" alt="yelp-icon">
        </div>

        <div class="feedback__text">
          "Ut suscipit ipsum eleifend velit ornare sollicitudin. Fusce posuere, nisi nec feugiat elementum, velit justo bibendum velit, a fermentum dui odio non felis. Vivamus bibendum convallis molestie. Ut sed luctus turpis. Aenean ut vehicula risus. Phasellus feugiat porta vestibulum. Cras a ornare metus."
        </div>

        <div class="feedback__author">
          <div class="feedback__photo">
            <img src="../images/author.png" alt="author photo" class="feedback__img">
          </div>

          <div class="feedback__info">
            <p class="feedback__name">
              MARIIA EVE
            </p>

            <p class="feedback__position">
              Lawyer
            </p>
          </div>
        </div>
      </div>

      <div class="feedback__card">
        <div class="feedback__picture">
          <div>
            <img src="../images/stars.png" alt="5 stars" class="feedback__stars">
          </div>

          <img src="../images/sprite.svg#google-icon" class="svg-google-icon-dims" alt="google-icon">
        </div>

        <div class="feedback__text">
          "Vivamus euismod, sem ac convallis condimentum, tortor metus aliquet justo, et gravida nisl justo at elit. Cras nunc augue, condimentum in mauris sit amet, sollicitudin congue lacus. Sed iaculis nunc nec turpis condimentum, eget tempus tellus suscipit. Quisque bibendum augue odio, eu tempor nulla luctus eget. Donec et sem consequat est finibus aliquam in nec felis."
        </div>
        <div class="feedback__author">
          <div class="feedback__photo">
            <img src="../images/author.png" alt="author photo" class="feedback__img">
          </div>

          <div class="feedback__info">
            <p class="feedback__name">
              LIAM BOWER
            </p>

            <p class="feedback__position">
              Mechanic
            </p>
          </div>
        </div>
      </div>

      <div class="feedback__card">
        <div class="feedback__picture">
          <div>
            <img src="../images/stars.png" alt="5 stars" class="feedback__stars">
          </div>

          <img src="../images/sprite.svg#facebook-icon" class="svg-facebook-icon-dims" alt="facebook-icon">
        </div>

        <div class="feedback__text">
          "Cras sagittis quam in mauris ultrices porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean egestas felis justo. Nam in odio turpis. Vestibulum dapibus neque mauris, vel dictum nibh interdum ac. Pellentesque pharetra gravida ex porttitor elementum. Aliquam erat volutpat."
        </div>

        <div class="feedback__author">
          <div class="feedback__photo">
            <img src="../images/author.png" alt="author photo" class="feedback__img">
          </div>

          <div class="feedback__info">
            <p class="feedback__name">
              NICKY
            </p>

            <p class="feedback__position">
              Dancer
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
