<footer class="footer">
  <div class="container">
    <ul class="footer__row">
      <li class="footer__card">
        <div class="footer__picture">
          <a href="./" class="logo">
            <img src="./images/sprite.svg#logo" class="svg-logo-dims" alt="logo">
          </a>
        </div>

        <p class="footer__text">
          Our team is led by several chief engineers, composed of a large number of researchers absorbed in their work in our comprehensive laboratory, which is also a renowned medical equipment testing center in Hong Kong. 
        </p>
      </li>

      <li class="footer__card">
        <h3 class="footer__title">
          Company
        </h3>

        <ul class="footer__list">
          <li>
            <a  class="footer__text" href="./">Home</a>
          </li>

          <li>
            <a class="footer__text" href="./">About</a>
          </li>

          <li>
            <a class="footer__text" href="./">Product</a>
          </li>

          <li>
            <a class="footer__text" href="./">Contact</a>
          </li>

          <li>
            <a class="footer__text" href="./">History</a>
          </li>
        </ul>
      </li>

      <li class="footer__card">
        <h3 class="footer__title">
          Follow us
        </h3>

        <ul class="footer__list">
          <li class="footer__media">
            <img src="./images/facebook-3-32.png" alt="icon">
            <a class="footer__text" target="_blank" href="https://www.facebook.com/">Facebook</a>
          </li>

          <li class="footer__media">
            <img src="./images/twitter-32.png" alt="icon">
            <a class="footer__text" target="_blank" href="https://x.com/">Twitter</a>
          </li>

          <li class="footer__media">
            <img src="./images/google-plus-3-32.png" alt="icon">
            <a class="footer__text" target="_blank" href="https://www.google.com/">Google +</a>
          </li>

          <li class="footer__media">
            <img src="./images/youtube-32.png" alt="icon">
            <a class="footer__text" target="_blank" href="https://www.youtube.com/">Youtube</a>
          </li>

          <li class="footer__media">
            <img src="./images/linkedin-6-32.png" alt="icon">
            <a class="footer__text" target="_blank" href="https://www.linkedin.com/">Linkedin</a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="footer__rights">
      Copyright &#x24D2; 2024 N95
    </div>
  </div>
</footer>
