  <header class="header">
    <div class="header__top-bg"></div>

    <div class="container">
      <div class="header__row">
        <div class="header__logo">
          <a href="/" class="logo">
            <img src="./images/sprite.svg#logo" class="svg-logo-dims" alt="logo">
          </a>
        </div>

        <div class="header__menu">
          <nav class="header__nav">
            <ul class="header__ul">
              <li class="header__li header__active">
                <a href="">Home</a>
              </li>
              <li class="header__li">
                <a href="/">About</a>
              </li>
              <li class="header__li">
                <a href="/">Product</a>
              </li>
              <li class="header__li">
                <a href="/">Contact</a>
              </li>
              <li class="header__li">
                <a href="/">History</a>
              </li>
            </ul>
    
            <button class="header__button header__contact">Contact us</button>

            <button class="header__close">Close</button>
          </nav>
        </div>

        <button class="header__menubtn header__button">Menu</button>
      </div>
    </div>
  </header>