<section class="industrial">
  <div class="industrial__top-bg"></div>

  <div class="container">
    <div class="industrial__row">
      <div class="industrial__picture">
        <img class="industrial__img" src="../images/industrial-worker.png" alt="a industrial worker in a mask">
      </div>

      <div class="industrial__info">
        <h2 class="industrial__title">
          N95 Respirators In Industrial And Health Care Settings
        </h2>

        <p class="industrial__text">
          Most 
          <span class="industrial__marked">N95 respirators </span>
          are manufactured for use in construction and other industrial type jobs that expose workers to dust and small particles. They are regulated by the National Personal Protective Technology Laboratory (NPPTL) in the National Institute for Occupational Safety and Health (NIOSH), which is part of the Centers for Disease Control and Prevention (CDC).
        </p>
        <br />
        <p class="industrial__text industrial__big">
          However, some N95 respirators are intended for use in a health care setting. Specifically, single-use, disposable respiratory protective devices used and worn by health care personnel during procedures to protect both the patient and health care personnel from the transfer of microorganisms, body fluids, and particulate material. These surgical N95 respirators are class II devices regulated by the FDA, under 21 CFR 878.4040, and CDC NIOSH under 42 CFR Part 84.
        </p>
      </div>
    </div>

    <p class="industrial__text industrial__small">
      However, some N95 respirators are intended for use in a health care setting. Specifically, single-use, disposable respiratory protective devices used and worn by health care personnel during procedures to protect both the patient and health care personnel from the transfer of microorganisms, body fluids, and particulate material. These surgical N95 respirators are class II devices regulated by the FDA, under 21 CFR 878.4040, and CDC NIOSH under 42 CFR Part 84.
    </p>
  </div>
</section>