<section class="made">
  <div class="made__top-bg"></div>

  <div class="container">
    <div class="made__row">
      <div class="made__picture">
        <img src="../images/made-in.png" alt="masks production" class="made__img">

        <div class="made__text made__blue made__onpicture">
          Given the praised reputation and reliable quality within the industry, we have also established preliminary business agreements with some hospitals, local governments and medical institutions in Guangdong Province.
        </div>
      </div>

      <div class="made__col">
        <div class="made__info">
          <p class="made__text made__padding">
            After years of development, Health Pro has reached stable long-term cooperation with many hospitals and medical institutions in Hong Kong.
          </p>

          <p class="made__text made__blue made__padding">
            We are keenly looking forward to expand our market in Mainland China and overseas in the future, as we have strong beliefs in our products.
          </p>
        </div>

        <div class="made__yellow">
          <h3 class="made__title">
            Proudly Made in Hong Kong
          </h3>

          <p class="made__location">
            Our factory is located in Hong Kong.
Equipped with machines and assembly line of the best quality on the market to ensure quality control.
          </p>

          <div class="made__more">
            <button class="made__button">Learn more</button>

            <a href="tel: +1 123 444 5678" class="made__contact">
              <div class="made__icon">
                <img src="../images/sprite.svg#phone" class="svg-phone-dims" alt="phone">
              </div>

              <div class="made__call">
                <h5 class="made__subtitle">Contact us</h5>

                <p class="made__phone">+1 123 444 5678</p>
              </div>
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>