<section class="medical">
  <div class="container">
    <div class="medical__row">
      <div class="medical__picture">
        <img class="medical__img" src="./images/medical-workers.png" alt="a medical worker in a mask">
      </div>

      <div class="medical__info">
        <h2 class="medical__title">
          N95 Respirators
        </h2>

        <p class="medical__text">
          <span class="medical__marked">The N95 mask </span>

          is a form of respiratory protective wear worn over the nose and mouth to help minimise the chance of inhaling airborne particles like viruses and other germs. It is a disposable mask made from synthetic polymer fibres produced in a highly specialised process called melt blowing. During this process, the inner layer of the N95 mask is created which forms the filtration layer capable of filtering out at 
          <span class="medical__marked">least 95% </span>
          of airborne particles when worn correctly.
        </p>
        <br />
        <p class="medical__text medical__big">
          During outbreaks of respiratory illnesses and during periods of intense air pollution, wearing 
          <span class="medical__marked">N95 masks </span>
          has been shown to help reduce the inhalation of compromised air, filtering out nasty pathogens which lead to illness or which can aggravate existing respiratory problems. Maintaining clear and unhindered respiration is vitally important for remaining fit and healthy and people with pre-existing conditions or respiratory fragility can particularly benefit from wearing face masks while they are out in public and unable to control the breathing environments that they find themselves in.
        </p>
      </div>
    </div>

    <p class="medical__text medical__small">
      During outbreaks of respiratory illnesses and during periods of intense air pollution, wearing 
      <span class="medical__marked">N95 masks </span>
      has been shown to help reduce the inhalation of compromised air, filtering out nasty pathogens which lead to illness or which can aggravate existing respiratory problems. Maintaining clear and unhindered respiration is vitally important for remaining fit and healthy and people with pre-existing conditions or respiratory fragility can particularly benefit from wearing face masks while they are out in public and unable to control the breathing environments that they find themselves in.
    </p>
  </div>
</section>