.svg-blue-location-dims { width: 36px; height: 45px; }
.svg-blue-mail-dims { width: 32px; height: 23px; }
.svg-blue-phone-dims { width: 32px; height: 32px; }
.svg-logo-dims { width: 50px;}
.svg-phone-dims { width: 46px; height: 46px; }
.svg-white-cup-dims { width: 30px; height: 27px; }
.svg-white-friends-dims { width: 28px; height: 21px; }
.svg-white-gparh-dims { width: 28px; height: 21px; }
.svg-white-shield-dims { width: 30px; height: 33px; }
.svg-yellow-box-dims { width: 45px; height: 45px; }
.svg-yellow-credit-card-dims { width: 45px; height: 45px; }
.svg-yellow-operator-dims { width: 45px; height: 45px; }
.svg-yellow-shield-dims { width: 45px; height: 45px; }
.svg-facebook-icon-dims { 
  width: 60px; 
  height: 45px;
  opacity: .20;
}
.svg-google-icon-dims { 
  width: 45px; 
  height: 45px;
  opacity: .15;
}
.svg-yelp-icon-dims {
  padding: 5px;
  width: 45px; 
  height: 45px;
  opacity: .25;
}
