<section class="certificates">
  <div class="container">
    <div class="certificates__row">
      <p class="certificates__lab">
        Our Lab Certification
      </p>

      <div class="certificates__line"></div>

      <img src="./images/certificate1.png" alt="certificate" class="certificates__img">

      <img src="./images/certificate2.png" alt="certificate" class="certificates__img">

      <img src="./images/certificate3.png" alt="certificate" class="certificates__img">
    </div>
  </div>
</section>