<section class="hero">
  <div class="container">
    <div class="hero__row">
      <div class="hero__info">
        <p class="hero__masks">3M N95 masks</p>

        <h1 class="hero__title">Protective Face Masks</h1>

        <p class="hero__text">
          We offer the fast delivery wholesale selection of N95 masks and surgical masks, featuring FDA-approved quality and 2 – 5 days delivery, our wholesale face masks are ideal for influenza or novel coronavirus prevention.
        </p>

        <div class="hero__buttons">
          <button class="hero__button hero__blue">Shop now</button>

          <button class="hero__button hero__yellow">Learn more</button>
        </div>
      </div>

      <div class="hero__picture">
        <img class="hero__img" src="./images/girl-in-mask.png" alt="a girl in a mask">
      </div>
    </div>
  </div>
</section>