<section class="reasons">
  <div class="container">
    <div class="reasons__row">
      <div class="reasons__picture">
        <img src="./images/mask-reason.png" alt="mask on black" class="reasons__img">
      </div>

      <div class="reasons__info">
        <h2 class="reasons__title">
          Reasons To Choose Our Products
        </h2>

        <p class="reasons__text">
          All products of Health Pro have obtained the certifications issued by national specialized agencies and testing laboratories.
They have also passed the quality inspection of several international famous testing institutions. We have absolute confidence that every product of Health Pro is a of the top quality.
        </p>

        <div class="reasons__reasons reasons__big">
          <div class="reasons__cards">
            <div class="reasons__card">
              <div>
                <span class="reasons__icon">
                  <img src="./images/sprite.svg#white-cup" class="svg-white-cup-dims" alt="white-cup">
                </span>
              </div>

              <div class="reasons__reason">
                <h3 class="reasons__subtitle">
                  Industry leader
                </h3>

                <p class="reasons__why">
                  If you have any questions about the equipment, our product specialists are here to help, specialists are here.
                </p>
              </div>
            </div>

            <div class="reasons__card">
              <div>
                <span class="reasons__icon">
                  <img src="./images/sprite.svg#white-gparh" class="svg-white-gparh-dims" alt="white-gparh">
                </span>
              </div>

              <div class="reasons__reason">
                <h3 class="reasons__subtitle">
                  Innovation 3 led development
                </h3>

                <p class="reasons__why">
                  If you have any questions about the equipment, our product specialists are here to help.
                </p>
              </div>
            </div>
          </div>

          <div class="reasons__cards">
            <div class="reasons__card">
              <div>
                <span class="reasons__icon">
                  <img src="./images/sprite.svg#white-shield" class="svg-white-shield-dims" alt="white-shield">
                </span>
              </div>

              <div class="reasons__reason">
                <h3 class="reasons__subtitle">
                  To create a safer tomorrow for all
                </h3>

                <p class="reasons__why">
                  If you have any questions about the equipment, our product specialists are here to help.
                </p>
              </div>
            </div>

            <div class="reasons__card">
              <div>
                <span class="reasons__icon">
                  <img src="./images/sprite.svg#white-friends" class="svg-white-friends-dims" alt="white-friends">
                </span>
              </div>

              <div class="reasons__reason">
                <h3 class="reasons__subtitle">
                  To protect and to improve living quality for all
                </h3>

                <p class="reasons__why">
                  If you have any questions about the equipment, our product specialists are here to help.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="reasons__reasons reasons__small">
      <div class="reasons__cards">
        <div class="reasons__card">
          <div class="reasons__div">
            <span class="reasons__icon">
              <img src="./images/sprite.svg#white-cup" class="svg-white-cup-dims" alt="white-cup">
            </span>
          </div>

          <div class="reasons__reason">
            <h3 class="reasons__subtitle">
              Industry leader
            </h3>

            <p class="reasons__why">
              If you have any questions about the equipment, our product specialists are here to help, specialists are here.
            </p>
          </div>
        </div>

        <div class="reasons__card">
          <div class="reasons__div">
            <span class="reasons__icon">
              <img src="./images/sprite.svg#white-gparh" class="svg-white-gparh-dims" alt="white-gparh">
            </span>
          </div>

          <div class="reasons__reason">
            <h3 class="reasons__subtitle">
              Innovation 3 led development
            </h3>

            <p class="reasons__why">
              If you have any questions about the equipment, our product specialists are here to help.
            </p>
          </div>
        </div>
      </div>

      <div class="reasons__cards">
        <div class="reasons__card">
          <div class="reasons__div">
            <span class="reasons__icon">
              <img src="./images/sprite.svg#white-shield" class="svg-white-shield-dims" alt="white-shield">
            </span>
          </div>

          <div class="reasons__reason">
            <h3 class="reasons__subtitle">
              To create a safer tomorrow for all
            </h3>

            <p class="reasons__why">
              If you have any questions about the equipment, our product specialists are here to help.
            </p>
          </div>
        </div>

        <div class="reasons__card">
          <div class="reasons__div">
            <span class="reasons__icon">
              <img src="./images/sprite.svg#white-friends" class="svg-white-friends-dims" alt="white-friends">
            </span>
          </div>

          <div class="reasons__reason">
            <h3 class="reasons__subtitle">
              To protect and to improve living quality for all
            </h3>

            <p class="reasons__why">
              If you have any questions about the equipment, our product specialists are here to help.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>